{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
{% load humanize %}

    <main role="main" class="mt-5">
        <!-- messages-->
        {% include 'app/messages.html' %}
        {% include 'app/navbar.html' %}
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron pt-5 pb-2">
            <div class="container">
                <h1 class="display-5">Vector search example</h1>
                <p>
                <form action="/" method="POST" style="width:800px">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Search">
                </form>
                </p>
            </div>
        </div>
        <div class="container">

            <p>
        </div>

        <div class="container">
            <h2>Companies</h2>
            <hr>
            {% if companies is None %}
                <h1 class="display-5">There is no history...</h1>
            {% else %}
                {% for company in companies %}
                    <span class="badge badge-secondary small" title="similarity is {{ company.distance|floatformat:2 }}">
                        {{ company.distance|floatformat:2 }}</span>
                    <a class="link-dark ml-2" href="//{{ company.domain }}">{{ company.domain }}</a>    {{ company.title }}<br>
                    <div  title="summary">{{ company.summary }}</div>
                </br>
                {% endfor %}
            {% endif %}
        </div> <!-- /container -->
        {% include 'app/footer-basic.html' %}
    </main>

{% endblock %}

